In [1]:
import pandas as pd

构建一个DataFrame

In [5]:
d = {'col1': [11, 21, 31], 'col2': [12, 22, 32], 'col3': [13, 23, 33]}
df = pd.DataFrame(data=d,index=['row1','row2','row3'])
df

      col1  col2  col3
row1    11    12    13
row2    21    22    23
row3    31    32    33

## at基于标签快速访问 （参数：行名，列名）

In [8]:
df.at['row2', 'col2']

22

In [9]:
df.at['row2'] #只能行列共同定位去选取

TypeError: _get_value() missing 1 required positional argument: 'col'

## iat快速整数标量定位（到具体元素，相当于给出坐标）（参数：行号，列号；从0开始计数）

In [15]:
df.iat[0, 1]##第1行，第2列

12

In [16]:
df.iat[0]#只能行列共同定位去选取

TypeError: _get_value() missing 1 required positional argument: 'col'

In [23]:
df.iat[0:2, 1:]#不能用于切片

ValueError: iAt based indexing can only have integer indexers

## iloc用于位置选择的基于整数定位的索引（切片）（参数：行切片，列切片；从0开始计数）

In [17]:
df.iloc[0,1]##第1行，第2列

12

In [19]:
df.iloc[0]#第1行

col1    11
col2    12
col3    13
Name: row1, dtype: int64

In [21]:
df.iloc[0:2, 1:] #切片

      col2  col3
row1    12    13
row2    22    23

In [22]:
df.iloc[0, 1:]#第1行，切片

col2    12
col3    13
Name: row1, dtype: int64

## 已弃用：ix混合方式定位（基于整数位置或标签名以及它们的组合，可以只用行标签，但是不能只用列标签）（参数：行号/行标签；列号/列标签）

In [24]:
df.ix[0, 'col2']

D:\Users\Administrator\Anaconda2\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

12

## loc选择位置的基于标签名的索引（参数：行名，列名）

In [25]:
df.loc['row1', 'col1']

11

In [27]:
df.loc['row2':, :'col2']#切片处理

      col1  col2
row2    21    22
row3    31    32

转置

In [6]:
df.T

      row1  row2  row3
col1    11    21    31
col2    12    22    32
col3    13    23    33

获取行轴和列轴标签名

In [10]:
df.axes

[Index(['row1', 'row2', 'row3'], dtype='object'),
 Index(['col1', 'col2', 'col3'], dtype='object')]

内置属性

In [11]:
df.blocks

D:\Users\Administrator\Anaconda2\envs\tensorflow\lib\site-packages\pandas\core\generic.py:3884: FutureWarning: as_blocks is deprecated and will be removed in a future version
  return self.as_blocks()

{'int64':       col1  col2  col3
 row1    11    12    13
 row2    21    22    23
 row3    31    32    33}

各列数据类型

In [12]:
df.dtypes

col1    int64
col2    int64
col3    int64
dtype: object

判断DataFrame是否完全为空

In [13]:
df.empty

False

返回稀疏或密集的标示及数据类型

In [14]:
df.ftypes

col1    int64:dense
col2    int64:dense
col3    int64:dense
dtype: object

坐标轴个数

In [28]:
df.ndim

2

DataFrame的形状（行列数）

In [29]:
df.shape

(3, 3)

DataFrame的大小（元素个数）

In [30]:
df.size

9

返回DataFrame样式对象

In [31]:
df.style

返回DataFrame里的数值（二维数组）

In [32]:
df.values

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]], dtype=int64)